# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history

# Firebase / secrets
lib/firebase_options.dart
android/app/google-services.json
.env

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.jav.idea/
*.iml
